- model_class = Taxi
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:location)
      %th= model_class.human_attribute_name(:status)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @taxis.each do |taxi|
      %tr
        %td= link_to taxi.id, taxi_path(taxi)
        %td= taxi.location
        %td= taxi.status
        %td= taxi.name
        %td=l taxi.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_taxi_path(taxi), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), taxi_path(taxi), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_taxi_path, :class => 'btn btn-primary'
