- model_class = Taxi
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:location) + ':'
  %br
  = @taxi.location
%p
  %strong= model_class.human_attribute_name(:status) + ':'
  %br
  = @taxi.status
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @taxi.name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), taxis_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_taxi_path(@taxi), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), taxi_path(@taxi), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
