= form_for @order, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :start_location, :class => 'control-label'
    .controls
      = f.text_field :start_location, :class => 'text_field'
  .control-group
    = f.label :end_location, :class => 'control-label'
    .controls
      = f.text_field :end_location, :class => 'text_field'
  .control-group
    = f.label :start_date, :class => 'control-label'
    .controls
      = f.datetime_select :start_date, :class => 'datetime_select'
  .control-group
    = f.label :end_date, :class => 'control-label'
    .controls
      = f.datetime_select :end_date, :class => 'datetime_select'
  .control-group
    = f.label :status, :class => 'control-label'
    .controls
      = f.text_field :status, :class => 'text_field'
  .control-group
    = f.label :customer_name, :class => 'control-label'
    .controls
      = f.text_field :customer_name, :class => 'text_field'
  .control-group
    = f.label :customer_phone, :class => 'control-label'
    .controls
      = f.text_field :customer_phone, :class => 'text_field'
  .control-group
    = f.label :taxi_id, :class => 'control-label'
    .controls
      = f.number_field :taxi_id, :class => 'number_field'
  .control-group
    = f.label :cost, :class => 'control-label'
    .controls
      = f.text_field :cost, :class => 'text_field'
  .control-group
    = f.label :distance, :class => 'control-label'
    .controls
      = f.text_field :distance, :class => 'text_field'
  .control-group
    = f.label :duration, :class => 'control-label'
    .controls
      = f.text_field :duration, :class => 'text_field'
  .control-group
    = f.label :pickup_time, :class => 'control-label'
    .controls
      = f.text_field :pickup_time, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), orders_path, :class => 'btn'
