- model_class = Order
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:start_location)
      %th= model_class.human_attribute_name(:end_location)
      %th= model_class.human_attribute_name(:start_date)
      %th= model_class.human_attribute_name(:end_date)
      %th= model_class.human_attribute_name(:status)
      %th= model_class.human_attribute_name(:customer_name)
      %th= model_class.human_attribute_name(:customer_phone)
      %th= model_class.human_attribute_name(:taxi_id)
      %th= model_class.human_attribute_name(:cost)
      %th= model_class.human_attribute_name(:distance)
      %th= model_class.human_attribute_name(:duration)
      %th= model_class.human_attribute_name(:pickup_time)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to order.id, order_path(order)
        %td= order.start_location
        %td= order.end_location
        %td= order.start_date
        %td= order.end_date
        %td= order.status
        %td= order.customer_name
        %td= order.customer_phone
        %td= order.taxi_id
        %td= order.cost
        %td= order.distance
        %td= order.duration
        %td= order.pickup_time
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_order_path(order), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), order_path(order), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
