- model_class = Order
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:start_location) + ':'
  %br
  = @order.start_location
%p
  %strong= model_class.human_attribute_name(:end_location) + ':'
  %br
  = @order.end_location
%p
  %strong= model_class.human_attribute_name(:start_date) + ':'
  %br
  = @order.start_date
%p
  %strong= model_class.human_attribute_name(:end_date) + ':'
  %br
  = @order.end_date
%p
  %strong= model_class.human_attribute_name(:status) + ':'
  %br
  = @order.status
%p
  %strong= model_class.human_attribute_name(:customer_name) + ':'
  %br
  = @order.customer_name
%p
  %strong= model_class.human_attribute_name(:customer_phone) + ':'
  %br
  = @order.customer_phone
%p
  %strong= model_class.human_attribute_name(:taxi_id) + ':'
  %br
  = @order.taxi_id
%p
  %strong= model_class.human_attribute_name(:cost) + ':'
  %br
  = @order.cost
%p
  %strong= model_class.human_attribute_name(:distance) + ':'
  %br
  = @order.distance
%p
  %strong= model_class.human_attribute_name(:duration) + ':'
  %br
  = @order.duration
%p
  %strong= model_class.human_attribute_name(:pickup_time) + ':'
  %br
  = @order.pickup_time

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), orders_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_order_path(@order), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), order_path(@order), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
